In [2]:
import pandas as pd

data = pd.read_csv('dataset/price_data_tr.csv')

In [5]:
# data.columns
# 'id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
# 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1310440590,20150413T000000,440000.0,3,2.50,2290,6302,2.0,0,0,...,9,2290,0,1997,0,98058,47.4350,-122.107,2700,7500
1,1437580480,20140918T000000,994000.0,5,3.25,4260,7861,2.0,0,0,...,10,4260,0,2005,0,98074,47.6110,-121.992,4020,7528
2,7617500075,20140721T000000,427000.0,3,1.75,2000,7111,1.0,0,0,...,7,1360,640,1956,0,98177,47.7676,-122.373,1830,9000
3,8122100130,20140618T000000,415000.0,3,1.75,1270,4800,1.0,0,0,...,7,1270,0,1952,2014,98126,47.5362,-122.376,1220,4800
4,4476400275,20150114T000000,335000.0,3,1.75,2100,8298,1.0,0,0,...,7,1230,870,1952,0,98166,47.4601,-122.360,1700,10830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12963,1773100604,20140721T000000,346000.0,3,3.25,1500,1442,2.0,0,0,...,8,1150,350,2007,0,98106,47.5592,-122.362,1500,1533
12964,6403510090,20141111T000000,437500.0,4,2.50,2680,7513,2.0,0,0,...,8,2680,0,1998,0,98059,47.4956,-122.161,2640,7243
12965,2124049160,20150416T000000,440000.0,6,3.00,2510,5310,1.0,0,0,...,7,1460,1050,1944,0,98108,47.5533,-122.304,1390,5407
12966,1310960190,20141021T000000,263000.0,3,1.75,1660,7210,1.0,0,0,...,7,1660,0,1977,0,98032,47.3609,-122.274,2150,7350
12967,3876312490,20150414T000000,435000.0,4,2.25,1910,8400,2.0,0,0,...,7,1910,0,1975,0,98072,47.7352,-122.175,1910,8400

In [21]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.296800e+04,1.296800e+04,12968.000000,12968.000000,12968.000000,1.296800e+04,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000,12968.000000
mean,4.571301e+09,5.387445e+05,3.369525,2.117829,2078.315623,1.495213e+04,1.497494,0.007711,0.233189,3.403763,7.658853,1786.903378,291.412246,1971.137878,85.090839,98078.229488,47.560215,-122.214346,1986.085287,12828.123535
std,2.879111e+09,3.619882e+05,0.904955,0.769985,916.026315,4.158912e+04,0.538748,0.087478,0.766119,0.640519,1.170140,824.992857,439.130219,29.258371,403.203649,53.524760,0.138838,0.141241,682.604738,28107.671504
min,1.000102e+06,8.000000e+04,0.000000,0.000000,370.000000,5.720000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.515000,460.000000,659.000000
25%,2.112701e+09,3.249500e+05,3.000000,1.750000,1421.500000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1952.000000,0.000000,98033.000000,47.470975,-122.329000,1490.000000,5100.000000
50%,3.905030e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.609000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.572950,-122.231000,1840.000000,7625.500000
75%,7.312125e+09,6.400000e+05,4.000000,2.500000,2540.000000,1.058725e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,550.000000,1997.000000,0.000000,98118.000000,47.678200,-122.125000,2360.000000,10053.500000
max,9.895000e+09,7.062500e+06,10.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4130.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6110.000000,871200.000000

In [22]:
data['date'] = pd.to_datetime(data['date']) # str에서 datetime으로 타입 변경

In [27]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1310440590,2015-04-13,440000.0,3,2.50,2290,6302,2.0,0,0,...,9,2290,0,1997,0,98058,47.4350,-122.107,2700,7500
1,1437580480,2014-09-18,994000.0,5,3.25,4260,7861,2.0,0,0,...,10,4260,0,2005,0,98074,47.6110,-121.992,4020,7528
2,7617500075,2014-07-21,427000.0,3,1.75,2000,7111,1.0,0,0,...,7,1360,640,1956,0,98177,47.7676,-122.373,1830,9000
3,8122100130,2014-06-18,415000.0,3,1.75,1270,4800,1.0,0,0,...,7,1270,0,1952,2014,98126,47.5362,-122.376,1220,4800
4,4476400275,2015-01-14,335000.0,3,1.75,2100,8298,1.0,0,0,...,7,1230,870,1952,0,98166,47.4601,-122.360,1700,10830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12963,1773100604,2014-07-21,346000.0,3,3.25,1500,1442,2.0,0,0,...,8,1150,350,2007,0,98106,47.5592,-122.362,1500,1533
12964,6403510090,2014-11-11,437500.0,4,2.50,2680,7513,2.0,0,0,...,8,2680,0,1998,0,98059,47.4956,-122.161,2640,7243
12965,2124049160,2015-04-16,440000.0,6,3.00,2510,5310,1.0,0,0,...,7,1460,1050,1944,0,98108,47.5533,-122.304,1390,5407
12966,1310960190,2014-10-21,263000.0,3,1.75,1660,7210,1.0,0,0,...,7,1660,0,1977,0,98032,47.3609,-122.274,2150,7350
12967,3876312490,2015-04-14,435000.0,4,2.25,1910,8400,2.0,0,0,...,7,1910,0,1975,0,98072,47.7352,-122.175,1910,8400